@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
table {
    border-collapse:collapse;
    width: 410px;
    height: 510px;
    border:1px solid grey;
    background-color:antiquewhite;
    font-size: 12pt;
    font-family: 'ChosunGu';
    font-weight: bold;
}
td {
    border:1px solid black;
}
caption {
    caption-side: top;
    font-size: 17pt;
}
#id,#pw,#pww,#email,#na {
    width: 260px;
}
div {
    width: 260px;
}
#tr1 {
    background-color:bisque;
}